body {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
}

p {
  line-height: 1.7;
  @include media-breakpoint-down(md) {
    font-size: $font-size-sm;
  }
  a:not(.btn) {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

a {
  transition: all 0.3s;
  &[href^="tel:"] {
    @include media-breakpoint-up(md) {
      pointer-events: none;
    }
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.sec {
  position: relative;
  padding: 100px 0;
  @include media-breakpoint-down(md) {
    padding: 3rem 0;
  }
}

.bg-grid {
  background-color: $light;
  background-image: url("../images/bg_grid.png");
  background-repeat: repeat;
}

.bg-circle {
  background-image: url("../images/bg_feature.png");
  background-repeat: repeat;
}

.more-txt {
  color: $body-color;
  font-size: $font-size-sm;
  font-weight: bold;
}

.btn {
  position: relative;
  font-size: 1rem;
  line-height: 1;
  padding: 1.25em 5em;
  border-radius: 3em;
  font-weight: bold;
  border: 0;
  border-bottom: solid 4px;
  @include media-breakpoint-down(md) {
    padding: 1.25em 3em;
  }
  i {
    position: absolute;
    top: 50%;
    right: 1.5em;
    transform: translateY(-50%);
  }
  &-warning {
    border-color: #dac010;
    color: $body-color;
  }
  &-success {
    border-color: #1f7349;
    color: $white;
  }
  &-primary {
    border-color: #0d5a86;
    color: $white;
    &:hover {
      border-color: #0d5a86;
    }
  }
  &-secondary {
    background-color: #ffa810;
    border-color: #c5820d;
    color: $white;
    &:hover {
      background-color: #ffa810;
      border-color: #c5820d;
    }
  }
  &-light {
    background-color: #eeeeee;
    border: 0;
    color: $dark;
    padding: 1.25em 3em;
    &:hover {
      background-color: #eeeeee;
      border: 0;
      color: $dark;
    }
    i {
      right: auto;
      left: 1.5em;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.submenu {
  background-color: $white;
  padding: 2.5rem 0;
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }
  &__list {
    max-width: 900px;
    padding: 0;
    margin: 0 auto 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      margin: 0 auto 2rem;
      justify-content: space-between;
    }
    li {
      list-style: none;
      margin: 0 0.5rem 1rem;
      @include media-breakpoint-down(md) {
        margin: 1rem 0 0;
        width: 49%;
      }
      &:nth-child(-n + 2) {
        margin-top: 0;
      }
      a {
        display: block;
        background-color: #f2f9f5;
        font-size: 1rem;
        line-height: 1;
        box-sizing: border-box;
        padding: 1em 2em;
        border-radius: 2em;
        text-align: center;
        color: $body-color;
        font-weight: bold;
        @include media-breakpoint-down(md) {
          font-size: 12px;
          padding: 1.5em;
        }
        .fas {
          color: $success;
          margin-left: 5px;
        }
      }
    }
  }
}

.table-wrap {
  overflow: hidden;
  border: solid 3px $success;
  border-radius: 0.5rem;
  .table {
    margin: 0;
    tr {
      th,
      td {
        border: 0;
        border-bottom: dotted 1px #b3d5c3;
        vertical-align: middle;
        padding: 1.5em;
        @include media-breakpoint-down(md) {
          padding: 1em;
          font-size: $font-size-sm;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
          }
        }
      }
      th {
        min-width: 30%;
        background-color: $success;
        color: $white;
        @include media-breakpoint-down(md) {
          width: auto;
        }
      }
      &:last-child {
        th,
        td {
          border: 0;
        }
      }
    }
  }
  &.about {
    border: 0;
    border-radius: 0;
    .table {
      tr {
        th,
        td {
          border: 0;
          background: none;
          color: $body-color;
        }
        &:nth-child(odd) {
          th,
          td {
            background-color: #f1f9f4;
          }
        }
      }
    }
  }
  &--ttl {
    display: inline-block;
    vertical-align: bottom;
    background-color: $success;
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.8em 1em;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0;
    &::before {
      content: "●";
      color: $warning;
      margin-right: 1rem;
      font-size: 1rem;
      vertical-align: middle;
    }
    & + .table-wrap {
      border-top-left-radius: 0;
    }
  }
}

.ttl {
  &__h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 2em;
    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
    span {
      &.quicksand {
        display: block;
        color: $success;
        font-size: $font-size-sm;
        text-transform: uppercase;
      }
      &:last-child {
        position: relative;
        display: inline-block;
        &::before,
        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          display: inline-block;
          width: 0.5rem;
          height: 1.5em;
          border-radius: 1em;
          background-color: $success;
          transform: rotate(40deg);
          @include media-breakpoint-down(md) {
            width: 0.25rem;
          }
        }
        &::before {
          left: -2em;
          @include media-breakpoint-down(md) {
            left: -1em;
          }
        }
        &::after {
          right: -2em;
          @include media-breakpoint-down(md) {
            right: -1em;
          }
        }
      }
    }
    &.white {
      color: $white;
      span {
        &.quicksand {
          color: $white;
        }
        &:last-child {
          &::before,
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
  &__h3 {
    font-size: 1.5rem;
    box-sizing: border-box;
    font-weight: bold;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0.2em;
      height: 1.5em;
      border-radius: 2em;
      background-color: $success;
      margin-right: 0.5em;
    }
  }
}

.flex-none {
  display: block !important;
}

.slick-vertical .slick-slide {
  @include media-breakpoint-down(md) {
    margin: 0.25rem 0 !important;
  }
}

.towcolumn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include media-breakpoint-down(md) {
    display: block;
  }
  .main {
    width: 70%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .side {
    width: 25%;
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-top: 3rem;
    }
  }
}
