.beginner {
  &__menu {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 5px rgba($dark, 0.1);
    background-color: $white;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 2rem;
    @include media-breakpoint-down(md) {
      padding: 0 1rem;
      flex-wrap: wrap;
      border-radius: 0.5rem;
      bottom: -113%;
      max-width: 95%;
    }
    &__inner {
      a {
        display: block;
        box-sizing: border-box;
        padding: 2rem 1rem;
        font-size: 0;
        @include media-breakpoint-down(md) {
          padding: 1rem 0;
        }
      }
    }
  }
  &__intoro {
    padding: 200px 0;
    z-index: 1;
    @include media-breakpoint-down(md) {
      padding: 350px 0 60px;
    }
    & > img {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 2.5vw;
      max-width: 20vw;
      transform: translateY(-50%);
      @include media-breakpoint-down(md) {
        display: none;
      }
      &:last-of-type {
        left: auto;
        right: 2.5vw;
      }
    }
  }
  &__feature {
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media-breakpoint-down(md) {
        display: block;
      }
      &__inner {
        position: relative;
        text-align: center;
        width: 49%;
        margin-bottom: 4%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        a {
          position: absolute;
          bottom: 26.5%;
          left: 5%;
          width: 8rem;
          height: 1rem;
        }
      }
    }
  }
  &__loop {
    font-size: 0;
  }
  &__flow {
    .btn.btn-primary {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 0.5rem;
      }
    }
    &__list {
      position: relative;
      z-index: 1;
      &__border {
        z-index: -1;
        position: absolute;
        width: 90%;
        top: 20%;
        left: 3.5vw;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      &__ttl {
        font-size: 0;
        text-align: center;
        margin-bottom: 2rem;
      }
      &__first {
        background-color: $white;
        box-sizing: border-box;
        border-radius: 0.5rem;
        padding: 60px 120px;
        margin-bottom: 80px !important;
        @include media-breakpoint-down(md) {
          padding: 2rem 1rem;
          margin-bottom: 3rem !important;
        }
        .beginner__flow__list__inner__no {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 5%;
          @include media-breakpoint-down(md) {
            left: -1rem;
          }
        }
        &__box {
          background-color: $info;
          box-sizing: border-box;
          padding: 2rem;
          border-radius: 0.3rem;
          @include media-breakpoint-down(md) {
            padding: 1.5rem 1rem;
          }
          h4 {
            color: $success;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
            @include media-breakpoint-down(md) {
              font-size: 1rem;
            }
          }
          p {
            margin: 0;
          }
        }
      }
      &__inner {
        position: relative;
        margin-bottom: 160px;
        @include media-breakpoint-down(md) {
          margin-bottom: 3rem;
        }
        &__no {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          @include media-breakpoint-down(md) {
            width: 4rem;
            top: 0;
            left: -1rem;
          }
        }
        &__content {
          position: relative;
          background-color: $white;
          box-sizing: border-box;
          border-radius: 0.5rem;
          padding: 4rem;
          max-width: 85%;
          @include media-breakpoint-down(md) {
            padding: 2rem 1rem;
            max-width: 100%;
          }
          &__step {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            @include media-breakpoint-down(md) {
              display: block;
            }
            &__inner {
              width: 32%;
              background-color: $info;
              border-radius: 0.3rem;
              box-sizing: border-box;
              padding: 2.5rem 1rem;
              @include media-breakpoint-down(md) {
                width: 100%;
                padding: 1.5rem;
                margin-bottom: 1rem;
              }
              & > div {
                margin: 2rem auto;
                & > img {
                  max-height: 62px;
                  width: auto;
                }
              }
            }
          }
          .flow_pic {
            position: absolute;
            @include media-breakpoint-down(md) {
              display: none;
            }
            &:first-of-type {
              top: -3rem;
              left: -3rem;
            }
            &:last-of-type {
              bottom: -3rem;
              right: -3rem;
            }
          }
        }
        &.lp .beginner__flow__list__inner__content {
          margin-left: auto;
        }
        &.rp .beginner__flow__list__inner__content {
          margin-right: auto;
        }
        &.rp .beginner__flow__list__inner__no {
          left: auto;
          right: 0;
          @include media-breakpoint-down(md) {
            left: -1rem;
            right: auto;
          }
        }
        &__fiveimg {
          z-index: 1;
          position: absolute;
          bottom: -3rem;
          right: -3rem;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }
  &__faq {
    &__list {
      &__first {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        @include media-breakpoint-down(md) {
          display: block;
        }
        .beginner__faq__list__inner {
          width: 49%;
          margin-bottom: 0;
          margin-top: 0;
          @include media-breakpoint-down(md) {
            width: 100%;
            margin-bottom: 3rem;
          }
        }
      }
      &__inner {
        border: solid 3px #dcdcdc;
        border-bottom: solid 7px #dcdcdc;
        border-top: 0;
        border-radius: 0.8rem;
        margin-top: 4rem;
        transition: all 0.4s ease 0s;
        @include media-breakpoint-down(md) {
          margin-bottom: 3rem;
        }
        &__ttl {
          position: relative;
          background-color: $success;
          box-sizing: border-box;
          padding: 1.5rem;
          border-radius: 0.5rem;
          @include media-breakpoint-down(md) {
            padding: 1rem 5rem 1rem 1rem;
          }
          &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
          & > span {
            display: block;
            font-size: 1.5rem;
            color: $white;
            margin-left: auto;
            font-weight: bold;
            box-sizing: border-box;
            padding-left: 7rem;
            @include media-breakpoint-down(md) {
              padding-left: 0;
              font-size: 1rem;
            }
          }
          &__icon {
            position: absolute;
            left: 2rem;
            top: 0;
            transform: translateY(-40%);
            @include media-breakpoint-down(md) {
              left: 1rem;
              top: -1rem;
              width: 3rem;
            }
          }
          &__btn {
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #1e7c4d;
            @include media-breakpoint-down(md) {
              width: 3.5rem;
              height: 3.5rem;
              right: 1rem;
            }
            &__txt::after {
              content: "開く";
              position: absolute;
              left: 0;
              bottom: 10px;
              display: block;
              text-align: center;
              color: $white;
              font-size: 11px;
              width: 100%;
              @include media-breakpoint-down(md) {
                font-size: 10px;
              }
            }
            &__toggle {
              position: absolute;
              left: 50%;
              top: 1.5rem;
              transform: translateX(-50%);
              width: 1.8rem;
              height: 3px;
              border-radius: 2px;
              background-color: $white;
              @include media-breakpoint-down(md) {
                width: 1.25rem;
                top: 1rem;
              }
              &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%) rotate(90deg);
                width: 1.8rem;
                height: 3px;
                border-radius: 2px;
                background-color: $white;
                transition: all 0.3s;
                @include media-breakpoint-down(md) {
                  width: 1.25rem;
                }
              }
            }
            &.active {
              .beginner__faq__list__inner__ttl__btn__txt::after {
                content: "閉じる";
              }
              .beginner__faq__list__inner__ttl__btn__toggle::after {
                transform: translateX(-50%) rotate(0);
              }
            }
          }
        }
        &__ans {
          display: none;
          box-sizing: border-box;
          padding: 2em;
          line-height: 1.7;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
          }
          &.active {
            display: block;
          }
        }
      }
      .is-hidden {
        opacity: 0;
        height: 0;
        margin: 0;
        border: 0;
      }
    }
  }
  &__cancel {
    &__wrap {
      box-sizing: border-box;
      background-color: $white;
      padding: 70px 90px;
      border-radius: 0.8rem;
      @include media-breakpoint-down(md) {
        padding: 2rem 1rem;
      }
      &__table {
        margin: 4rem 0;
        @include media-breakpoint-down(md) {
          margin: 2.5rem 0;
        }
      }
    }
  }
}
