.camplist {
  display: flex !important;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  &__inner {
    position: relative;
    width: 31%;
    margin-top: 3%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &:nth-child(3n + 2) {
      margin-right: 3.5%;
      margin-left: 3.5%;
      @include media-breakpoint-down(md) {
        margin: 3% 0 0;
      }
    }
    &:nth-child(-n + 3) {
      margin-top: 0;
      @include media-breakpoint-down(md) {
        margin: 3% 0 0;
      }
    }
    &:nth-child(1) {
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
    &__tag {
      text-align: center;
      font-size: 0;
      img {
        width: 50%;
        margin: 0 auto;
      }
    }
    &__img {
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;
      margin-top: -1.35rem;
      font-size: 0;
      img {
        width: 100%;
        margin: 0 auto;
      }
    }
    &__info {
      position: relative;
      background-color: $white;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      box-sizing: border-box;
      padding: 2.8rem 2rem 2rem;
      &__status {
        z-index: 1;
        position: absolute;
        top: -1.5em;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 1rem;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        padding: 0.8em 3em;
        border-radius: 5em;
        img {
          width: auto;
          height: 1rem;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 5px;
        }
      }
      &__meta {
        text-align: center;
        line-height: 1;
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: $font-size-sm;
          box-sizing: border-box;
          &:first-child {
            margin-right: 0.5em;
            padding-right: 0.5em;
            border-right: solid 1px #eee;
          }
        }
      }
      &__ttl {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1em;
      }
      &__type {
        margin: 0 0 1.5rem;
        padding: 0 0 1.5rem;
        border-bottom: solid 1px #eee;
        li {
          list-style: none;
          font-size: 12px;
          margin-bottom: 1em;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            display: inline-block;
            vertical-align: sub;
            margin-right: 1em;
          }
        }
      }
      &__btn {
        a {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &__info {
    &__status {
      h2 {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
        &::after {
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -35px;
          content: "";
          width: 70px;
          height: 3px;
          background-color: $success;
          border-radius: 1rem;
        }
      }
      &__list {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        span {
          display: block;
          width: 23%;
          box-sizing: border-box;
          text-align: center;
          line-height: 1;
          border-radius: 0.5rem;
          padding: 0.8rem 2rem;
          font-weight: bold;
          @include media-breakpoint-down(md) {
            width: 49%;
            padding: 0.8rem 1rem;
            margin-bottom: 2%;
          }
          img {
            display: inline-block;
            vertical-align: bottom;
            width: auto;
            height: 1rem;
            margin-right: 0.5rem;
          }
        }
      }
      &__contact {
        .font-weight-bold {
          margin-bottom: 3rem;
          text-align: center;
        }
        &__tel {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          max-width: 768px;
          margin-left: auto;
          margin-right: auto;
          &__left {
            width: 60%;
            @include media-breakpoint-down(md) {
              width: 100%;
            }
            &__ttl {
              font-weight: bold;
              font-size: 1.1rem;
              &::before {
                content: "●";
                color: $success;
                margin-right: 0.5rem;
              }
            }
            &__txt {
              margin-bottom: 0;
            }
          }
          &__right {
            width: 38%;
            @include media-breakpoint-down(md) {
              width: 100%;
              margin-top: 1rem;
            }
            a {
              font-size: 0;
              display: block;
              img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 1rem;
              }
              span {
                display: inline-block;
                vertical-align: middle;
                font-size: 2.2rem;
                font-weight: bold;
                color: $body-color;
              }
              &.fax {
                margin-top: 1rem;
                @include media-breakpoint-up(md) {
                  text-align: right;
                }
                img {
                  width: 3rem;
                }
                span {
                  font-size: 1.5rem;
                }
              }
            }
          }
          &:first-of-type {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: dotted 1px #eee;
          }
        }
      }
    }
  }
  &__sort {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      margin: 3rem 0;
      display: block;
    }
    label,
    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      margin: 0;
    }
    .form-control {
      margin-left: 1rem;
      background-color: #258856;
      border: 0;
      color: #fff;
      width: 240px;
      height: calc(2em + 0.75rem + 2px);
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: 0;
        margin-top: 0.5rem;
        height: calc(1.5em + 0.75rem + 2px);
      }
    }
    label {
      font-size: 1.2rem;
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
    }
    &__left {
      margin-right: 2rem;
      @include media-breakpoint-down(md) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
  &__post {
    &__status {
      display: inline-block;
      vertical-align: baseline;
      box-sizing: border-box;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
      line-height: 1;
      font-weight: bold;
      img {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
        width: 1rem;
        font-size: 0;
      }
    }
    &__ttl {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 1.5rem 0;
    }
    &__days {
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        margin-right: 1rem;
        line-height: 1;
        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
    &__ex {
      margin: 3rem 0 5rem;
    }
    &__ssl {
      background-color: #f9f9f9;
      box-sizing: border-box;
      border-radius: 0.5rem;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4rem 0;
      @include media-breakpoint-down(md) {
        display: block;
        margin: 2rem 0;
      }
      p {
        width: 70%;
        margin: 0;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
    &__btns {
      display: flex;
      justify-content: center;
      @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
      }
    }
    &__prev {
      text-align: center;
      margin-top: 4rem;
      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
    }
  }
  &__form {
    .form-list-more {
      position: relative;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      margin: 2rem 0 3rem;
      background-color: #eee;
      border: dotted 2px #bfbfbf;
      line-height: 1;
      box-sizing: border-box;
      padding: 1em;
      border-radius: 0.3rem;
      &::after {
        content: "＋";
        margin-left: 1rem;
      }
    }
    .beginner__faq__list__inner {
      border: solid 1px #dcdcdc;
      border-radius: 0;
      @include media-breakpoint-down(md) {
        margin-bottom: 1.5rem;
      }
      &__ttl {
        border-radius: 0 !important;
        & > span {
          font-size: 1.2rem;
          padding-left: 0;
          text-align: center;
        }
      }
      &__ttl__btn {
        background-color: $success;
      }
      &__ans {
        @include media-breakpoint-down(md) {
          padding: .5rem;
        }
      }
    }
    .wpcf7-form-control-wrap {
      display: block;
    }
    .wpcf7-checkbox,
    .wpcf7-radio {
      box-sizing: border-box;
      padding: 0 0 0 1rem;
    }
    span.wpcf7-list-item {
      display: block;
      margin: 0 0 0.5rem;
    }
    .sex,
    .sex-2,
    .sex-3,
    .sex-4,
    .sex-5,
    .sex-6 {
      span.wpcf7-list-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.5rem 0 0;
      }
    }
  }
}

.circle {
  background-color: #e0efff;
}
.try {
  background-color: #fff9d9;
}
.times {
  background-color: #ffe0e6;
}
.end {
  background-color: #cecece;
}
