.home {
  &__mv {
    overflow: hidden;
    position: relative;
    font-size: 0;
    background: url("../images/bg_mv_pc.png") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    @include media-breakpoint-down(md) {
      height: 95vh;
    }
    &__copy {
      z-index: 2;
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 45vw;
      height: auto;
      box-sizing: border-box;
      padding: 0 5vw;
      @include media-breakpoint-down(md) {
        width: 95vw;
        max-width: 95vw;
        height: 95vw;
        background-color: $white;
        border-radius: 50%;
        padding: 0;
        overflow: hidden;
        padding: 22% 0;
      }
      img {
        @include media-breakpoint-down(md) {
          max-width: 70%;
        }
      }
      p {
        @include media-breakpoint-down(md) {
          margin-bottom: 0.3rem;
        }
      }
      &__txt {
        text-align: center;
        font-size: $font-size-sm;
        font-weight: bold;
        margin-top: 2rem;
        @include media-breakpoint-down(md) {
          font-size: 10px;
          margin-top: 1rem;
        }
      }
    }
    &__slide {
      &--1 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: -3vw;
        height: 100%;
        width: 12vw;
        @include media-breakpoint-down(md) {
          width: 42vw;
          left: -15.5vw;
        }
      }
      &--2 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 10vw;
        height: 100%;
        width: 12vw;
        @include media-breakpoint-down(md) {
          width: 42vw;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &--3 {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 10vw;
        height: 100%;
        width: 12vw;
        @include media-breakpoint-down(md) {
          width: 42vw;
          right: -15.5vw;
        }
      }
      &--4 {
        z-index: 1;
        position: absolute;
        top: 0;
        right: -3vw;
        height: 100%;
        width: 12vw;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }
  &__read {
    position: relative;
    z-index: 1;
    &__inner {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      margin-top: 2rem;
      a {
        display: block;
        width: 32%;
        text-align: center;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 2rem;
        }
        &:nth-child(2) {
          margin: 0 2%;
          @include media-breakpoint-down(md) {
            margin: 0;
          }
        }
        &:nth-child(1) {
          @include media-breakpoint-down(md) {
            margin: 0;
          }
        }
        p {
          text-align: left;
          color: $white;
          margin-top: 1rem;
        }
      }
    }
  }
  &__news {
    z-index: 1;
    position: relative;
    padding-bottom: 140px;
    & > img {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      &__list {
        position: relative;
        width: 65%;
        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 3rem;
        }
        .more-txt {
          z-index: 1;
          position: absolute;
          top: 0;
          right: 0;
        }
        .news__list {
          max-height: 520px;
          box-sizing: border-box;
          overflow-y: scroll;
          background-color: $white;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          padding: 2.5rem 1.5rem;
          @include media-breakpoint-down(md) {
            max-height: 350px;
          }
        }
        &__ttl {
          display: inline-block;
          vertical-align: bottom;
          margin: 0;
          font-size: 0;
          span {
            display: inline-block;
            vertical-align: bottom;
            box-sizing: border-box;
            padding: 1.5rem 1.5rem 0;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
            background-color: $white;
          }
          &::after {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            border-right: 30px solid transparent;
            border-bottom: 50px solid $white;
          }
        }
      }
      &__side {
        width: 30%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
  &__camp {
    padding-top: 0;
    padding-bottom: 140px;
    &__slide {
      position: relative;
      overflow: hidden;
      .camplist__inner {
        margin: 0 !important;
      }
      .slick-slide {
        box-sizing: border-box;
        padding: 0 5vw;
        @include media-breakpoint-down(md) {
          padding: 0 2vw;
        }
        .camplist__inner {
          @include media-breakpoint-up(md) {
            width: 32% !important;
          }
          &:nth-child(2) {
            @include media-breakpoint-up(md) {
              margin: 0 2% !important;
            }
          }
        }
      }
      &__prevarrow {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        display: block;
        top: 50%;
        left: 8vw;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        line-height: 3.3rem;
        border-radius: 50%;
        background-color: #22794d;
        color: $white;
        text-align: center;
        @include media-breakpoint-down(md) {
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
        }
        i {
          font-size: 1.5rem;
          line-height: 1;
          @include media-breakpoint-down(md) {
            font-size: 1rem;
          }
        }
      }
      &__nextarrow {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        display: block;
        top: 50%;
        right: 8vw;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        line-height: 3.3rem;
        border-radius: 50%;
        background-color: #22794d;
        color: $white;
        text-align: center;
        @include media-breakpoint-down(md) {
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
        }
        i {
          font-size: 1.5rem;
          line-height: 1;
          @include media-breakpoint-down(md) {
            font-size: 1rem;
          }
        }
      }
    }
    &__btn {
      text-align: center;
      margin: 3rem 0 1rem;
    }
    &__blank {
      text-align: center;
      a {
        color: $white;
        text-decoration: underline;
        font-size: $font-size-sm;
      }
    }
  }
  &__gallery {
    position: relative;
    margin-top: -70px;
    &__list {
      .slick-slide {
        margin: 0 10px;
      }
    }
  }
  &__point {
    &__list {
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      &__inner {
        overflow: hidden;
        width: 48%;
        border-radius: 0.7rem;
        border: solid 2px #dcdcdc;
        border-bottom: solid 4px #dcdcdc;
        border-top: 0;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        &:first-child {
          @include media-breakpoint-down(md) {
            margin-bottom: 1.5rem;
          }
        }
        & > img {
          width: 100%;
        }
        &__txt {
          box-sizing: border-box;
          padding: 1.5rem;
          text-align: center;
          h3 {
            margin-bottom: 1rem;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    &__caution {
      text-align: right;
      margin-top: 1rem;
      color: #9a9a9a;
      font-size: $font-size-sm;
    }
  }
  &__point2 {
    &__list {
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      &__inner {
        width: 32%;
        text-align: center;
        &:nth-child(1),
        &:nth-child(3) {
          margin-top: 2rem;
        }
      }
    }
  }
  &__program {
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 4rem;
      &__inner {
        overflow: hidden;
        width: 48%;
        text-align: center;
      }
    }
  }
}
