.home {
  &__mv {
    overflow: hidden;
    position: relative;
    font-size: 0;
    background: url("../images/bg_mv_pc.png") no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    &__copy {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 45vw;
      height: auto;
      box-sizing: border-box;
      padding: 0 5vw;
      &__txt {
        text-align: center;
        font-size: $font-size-sm;
        font-weight: bold;
        margin-top: 2rem;
      }
    }
    &__slide {
      &--1 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: -3vw;
        height: 100%;
        width: 12vw;
      }
      &--2 {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 10vw;
        height: 100%;
        width: 12vw;
      }
      &--3 {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 10vw;
        height: 100%;
        width: 12vw;
      }
      &--4 {
        z-index: 1;
        position: absolute;
        top: 0;
        right: -3vw;
        height: 100%;
        width: 12vw;
      }
    }
  }
  &__read {
    position: relative;
    z-index: 1;
    & > img {
      position: absolute;
      width: 100%;
      top: -5px;
      left: 0;
      &:last-of-type {
        top: auto;
        bottom: -5px;
      }
    }
    &__inner {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      margin-top: 2rem;
      a {
        display: block;
        width: 32%;
        text-align: center;
        &:nth-child(2) {
          margin: 0 2%;
        }
        p {
          text-align: left;
          color: $white;
          margin-top: 1rem;
        }
      }
    }
  }
  &__news {
    z-index: 1;
    position: relative;
    padding-bottom: 140px;
    & > img {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      &__list {
        position: relative;
        width: 65%;
        .more-txt {
          z-index: 1;
          position: absolute;
          top: 0;
          right: 0;
        }
        .news__list {
          max-height: 520px;
          box-sizing: border-box;
          overflow-y: scroll;
          background-color: $white;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          padding: 2.5rem 1.5rem;
        }
        &__ttl {
          display: inline-block;
          vertical-align: bottom;
          margin: 0;
          font-size: 0;
          span {
            display: inline-block;
            vertical-align: bottom;
            box-sizing: border-box;
            padding: 1.5rem 1.5rem 0;
            border-top-left-radius: 0.3rem;
            border-top-right-radius: 0.3rem;
            background-color: $white;
          }
          &::after {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            border-right: 30px solid transparent;
            border-bottom: 50px solid $white;
          }
        }
      }
      &__side {
        width: 30%;
      }
    }
  }
  &__camp {
    padding-top: 0;
    padding-bottom: 140px;
    &__slide {
      position: relative;
      overflow: hidden;
      .camplist {
        box-sizing: border-box;
        padding: 0 5vw;
      }
      &__prevarrow {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        display: block;
        top: 50%;
        left: 8vw;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        line-height: 3.3rem;
        border-radius: 50%;
        background-color: #22794d;
        color: $white;
        text-align: center;
        i {
          font-size: 1.5rem;
          line-height: 1;
        }
      }
      &__nextarrow {
        z-index: 1;
        cursor: pointer;
        position: absolute;
        display: block;
        top: 50%;
        right: 8vw;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        line-height: 3.3rem;
        border-radius: 50%;
        background-color: #22794d;
        color: $white;
        text-align: center;
        i {
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    }
    &__btn {
      text-align: center;
      margin: 3rem 0 1rem;
    }
    &__blank {
      text-align: center;
      a {
        color: $white;
        text-decoration: underline;
        font-size: $font-size-sm;
      }
    }
  }
  &__gallery {
    position: relative;
    margin-top: -70px;
    &__list {
      .slick-slide {
        margin: 0 10px;
      }
    }
  }
  &__point {
    &__list {
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      &__inner {
        overflow: hidden;
        width: 48%;
        border-radius: 0.7rem;
        border: solid 2px #dcdcdc;
        border-bottom: solid 4px #dcdcdc;
        border-top: 0;
        & > img {
          width: 100%;
        }
        &__txt {
          box-sizing: border-box;
          padding: 1.5rem;
          text-align: center;
          h3 {
            margin-bottom: 1rem;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    &__caution {
      text-align: right;
      margin-top: 1rem;
      color: #9a9a9a;
      font-size: $font-size-sm;
    }
  }
  &__point2 {
    &__list {
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      &__inner {
        width: 32%;
        text-align: center;
        &:nth-child(1),
        &:nth-child(3) {
          margin-top: 2rem;
        }
      }
    }
  }
}
