.mv {
  &__sub {
    position: relative;
    font-size: 0;
    background-color: $success;
    @include media-breakpoint-down(md) {
      height: 40vh;
    }
    &.login {
      @include media-breakpoint-down(md) {
        background-color: $info;
      }
    }
    & > img {
      width: 100%;
      height: auto;
      @include media-breakpoint-down(md) {
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
    &__ttl {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      padding: 0 1rem;
      margin: 0;
      top: 50%;
      left: 0;
      img {
        @include media-breakpoint-down(md) {
          max-height: 70px;
        }
      }
    }
    #breadcrumbs {
      position: absolute;
      left: 0;
      bottom: 10%;
      width: 100%;
      @include media-breakpoint-down(md) {
        bottom: 5%;
      }
      a,
      span {
        color: $white !important;
        font-size: 12px;
      }
    }
    &.beginner {
      z-index: 2;
      position: relative;
      overflow: visible;
      .mv__sub__ttl {
        height: 85%;
        top: 60%;
        transform: translateY(-50%);
        img {
          width: auto;
          height: 100%;
          @include media-breakpoint-down(md) {
            max-height: 100%;
          }
        }
      }
    }
  }
}

.login {
  #breadcrumbs {
    span {
      color: $success !important;
      font-size: $font-size-sm;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
    a,
    .breadcrumb_last {
      font-size: $font-size-sm;
      color: $dark !important;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }
}
