.intoro {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    &__img {
      width: 40%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    &__txt {
      width: 50%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      h3 {
        margin-bottom: 1.5rem;
        font-size: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  &__imgs {
    text-align: center;
    margin: 3rem 0 6rem;
    @include media-breakpoint-down(md) {
      margin: 2rem auto;
    }
    font-size: 0;
    img {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.75rem;
      @include media-breakpoint-down(md) {
        width: 47%;
        margin: 0.125rem 0.25rem;
      }
    }
  }
}

.voice {
  &__list {
    margin-top: 7rem;
    @include media-breakpoint-down(md) {
      margin-top: 3rem;
    }
    .slick-slide {
      margin: 0 10vw;
      @include media-breakpoint-down(md) {
        margin: 5vw;
      }
    }
    .slick-list {
      overflow: visible;
    }
    .home__camp__slide__nextarrow {
      right: 18vw;
      @include media-breakpoint-down(md) {
        right: 2.5vw;
      }
    }
    .home__camp__slide__prevarrow {
      left: 18vw;
      @include media-breakpoint-down(md) {
        left: 2.5vw;
      }
    }
    &__inner {
      overflow: visible;
      position: relative;
      background-color: $white;
      box-sizing: border-box;
      padding: 2.5rem;
      border-radius: 0.5rem;
      @include media-breakpoint-down(md) {
        padding: 2rem 1.5rem;
      }
      &::after {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: block;
        border-top: 50px solid $white;
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;
        @include media-breakpoint-down(md) {
          border-top: 25px solid $white;
          border-right: 25px solid transparent;
          border-left: 25px solid transparent;
          bottom: -25px;
        }
      }
      &__img {
        position: relative;
        text-align: center;
        margin-top: -5rem;
        img {
          margin: 0 auto;
        }
      }
      h3 {
        color: $success;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1em 0;
        @include media-breakpoint-down(md) {
          font-size: 1.25rem;
        }
      }
      &__meta {
        margin-top: 1rem;
        font-size: $font-size-sm;
        text-align: center;
        &__name {
          font-weight: bold;
          margin-bottom: 0.5em;
        }
        &__school,
        &__grade {
          line-height: 1;
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box;
        }
        &__school {
          padding-right: 0.5em;
          margin-right: 0.5em;
          border-right: solid 1px #eee;
        }
      }
    }
  }
}

.attraction {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &__inner {
      width: 48%;
      margin-top: 4%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      &:nth-child(-n + 2) {
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }
  }
}

.place {
  &__list {
    &__inner {
      background-color: $white;
      border-radius: 0.5rem;
      overflow: hidden;
      &__img {
        img {
          width: 100%;
        }
      }
      &__txt {
        box-sizing: border-box;
        padding: 3rem 3rem 2rem;
        @include media-breakpoint-down(md) {
          padding: 2rem 2rem 1.5rem;
        }
        h3 {
          font-size: 1.8rem;
          font-weight: bold;
          text-align: center;
          margin-bottom: 1em;
          color: $success;
          @include media-breakpoint-down(md) {
            font-size: 1.25rem;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
      &__link {
        text-align: center;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: solid 1px #eee;
      }
    }
  }
  &__box {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: $white;
    margin-top: 3rem;
    @include media-breakpoint-down(md) {
      padding: 1.5rem 1rem;
      margin-top: 1.5rem;
    }
  }
}

.ol__form {
  .container {
    background-color: $white;
    border-radius: 0.8rem;
    box-sizing: border-box;
    padding: 75px 120px;
    @include media-breakpoint-down(md) {
      width: 97%;
      margin: 0 auto;
      padding: 2rem 1rem;
    }
  }
  &__table {
    table {
      tr {
        th,
        td {
          @include media-breakpoint-down(md) {
            display: block;
          }
        }
        th {
          white-space: nowrap;
          @include media-breakpoint-down(md) {
            padding-bottom: 0;
          }
          .badge {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1rem;
            &-success {
              background-color: $info;
              color: $success;
              font-weight: normal;
              line-height: 1.5;
            }
          }
        }
        td {
          font-size: $font-size-sm;
          .wpcf7-form-control-wrap {
            display: block;
          }
          .form-control {
            background-color: #eeeeee;
            border: 0;
            padding: 1.5em !important;
            font-size: $font-size-sm;
            @include media-breakpoint-down(md) {
              padding: 1em !important;
            }
          }
        }
      }
    }
  }
  &__box {
    max-width: 90%;
    box-sizing: border-box;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    font-size: $font-size-sm;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      margin: 1.5rem auto;
      padding: 1.5rem;
    }
  }
  .wpcf7-form-control-wrap.acceptance {
    display: block;
    background-color: $info;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto 4rem;
    padding: 2rem;
    font-size: $font-size-sm;
    text-align: center;
    border-radius: 0.5rem;
    line-height: 1;
    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 1rem;
      margin: 0 auto 3rem;
    }
  }
  &__submit {
    text-align: center;
    .btn-warning {
      background-color: #ffa810;
      border-color: #c5820d;
      color: $white;
    }
    .ajax-loader {
      display: block !important;
      margin: 5px 0 0 !important;
    }
  }
}
