.single {
  &__breadcrumb {
    padding-top: 160px;
    @include media-breakpoint-down(md) {
      padding-top: 110px;
    }
    span {
      color: $success;
      font-size: $font-size-sm;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
    a,
    .breadcrumb_last {
      font-size: $font-size-sm;
      color: $dark;
      font-weight: bold;
      @include media-breakpoint-down(md) {
        font-size: 12px;
      }
    }
  }
  &__ttl {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0 1.5em;
  }
  &__thumbnail {
    display: block;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__main {
    margin-top: 2.4rem;
    h2 {
      position: relative;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: $info;
      box-sizing: border-box;
      padding: 1em 1em 1em 2em;
      border-radius: 0.5rem;
      margin: 2em 0 1em;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 1em;
        height: 100%;
        background-color: $success;
      }
    }
    h3 {
      position: relative;
      overflow: hidden;
      font-size: 1.4rem;
      font-weight: bold;
      box-sizing: border-box;
      padding: 0 0 1rem 1rem;
      margin: 2em 0 1em;
      border-bottom: dashed 2px #eee;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 0.25em;
        border-radius: 0.5rem;
        height: calc(100% - 1rem);
        background-color: $success;
      }
    }
    h4 {
      position: relative;
      overflow: hidden;
      font-size: 1.2rem;
      font-weight: bold;
      box-sizing: border-box;
      padding: 0 0 0 1rem;
      margin: 2em 0 1em;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 0.25em;
        border-radius: 0.5rem;
        height: 100%;
        background-color: $success;
      }
    }
  }
  &__btn {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    .btn {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}

.blogmain__inner__sns {
  margin: 4rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down(md) {
    margin: 2.5rem 0;
  }
  a {
    color: #fff;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid;
    font-weight: 700;
    text-align: center;
    border-radius: 2em;
    line-height: 1;
    padding: 1em;
    width: 31%;
  }
  &__fb {
    background-color: #3c5a99;
    border-bottom-color: #23417d;
  }
  &__tw {
    background-color: #1da1f2;
    border-bottom-color: #0f8cd7;
  }
  &__li {
    background-color: #00b900;
    border-bottom-color: #009600;
  }
}
